MC-1 Check the greeting.

READY
